

.calendar-container {
  background: rgba(0, 72, 255, 0.6); 
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
}

.calendar-table th,
.calendar-table td {
  border: 1px solid #000000;
  padding: 10px;
  text-align: center;
}

.calendar-cell {
  position: relative;
}


.calendar-cell:hover {
  background: rgba(255, 255, 255, 0.3);
}

.day-plan {
  background: #c7cd26;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

h2 {
  color: #ffffff;
}

.plan-form {
  position: absolute;
  top: 100%; /* Position the form directly below the cell */
  left: -5px; 
  padding: 10px; /* Adjust padding as needed */
  border: 5px solid #242424;
  background-color: #ffffff;
  z-index: 10;
  width: calc(100% + 10px); /* Make the form slightly wider than the cell */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  border-radius: 15px; /* Add rounded corners */
}

.plan-form input,
.plan-form select {
  margin-bottom: 5px;
  font-size: 0.8em; /* Adjust font size */
  padding: 3px; /* Adjust padding */
  width: calc(100% - 6px); /* Ensure inputs fit within the form's width, considering padding and border */
}

.plan-form button {
  align-self: center;
  font-size: 0.8em; /* Adjust font size */
  padding: 3px 5px; /* Adjust padding */
}


.remove-plan-button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

  
  
  
  
  